
@model IEnumerable<Queue.Models.SoftwareReport>
@{
    ViewBag.Title = "SoftwareReportDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row justify-content-center" id="softwareReport">
    <div class="col-lg-12">
        <div class="card">

            <div class="box-header with-border">
                <h4 class="box-title">Computadores instalados</h4>
            </div>
            <div class="row">
                <div class="col-lg-10">
                </div>
                <br />
                <br />
                <br />
                <div class="col-lg-2">
                    <div class="btn-group" role="group" aria-label="...">
                        <a href="@Url.Action("SoftwareReport", "Operation")" class="btn btn-info btn-block m-t-10 float-right">
                            <i class="glyphicon glyphicon-chevron-left"></i> Atras
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("SoftwareReport", "Operation"))
                {
                }
                <br />
                <br />
                <div class="table-responsive">
                    <table id="tuTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="text-align:center" class="col-md-6">
                                    Programa
                                </th>
                                <th style="text-align:center" class="col-md-6">
                                    Computador
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(modelItem => item.program)
                                        </td>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(modelItem => item.agrupation)
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="~/assets/plugins/general/moment/min/moment.min.js" type="text/javascript"></script>
    <script src="~/js/DownloadsPDF.js"></script>
    <script>$('#tuTable').DataTable();</script>
}